@model IEnumerable<autocarrs.Models.AutosVehicle>

    <section id="filter">
        @if (Model != null)

        {
            <div class="section-header text-center">
                <h2>Your Search Results are based On following filters<span></span></h2>

                @foreach (var item in Model)
                {
                    @*<div class="section-header text-left">*@
                    
                <ul type="none">
                @if (@ViewBag.FuelType != "x")
                {
                    <li><i aria-hidden="true"></i>@ViewBag.FuelType</li>
                }
                        @if (@ViewBag.Acolor != "x")
                {
                    <li><i aria-hidden="true"></i> {@ViewBag.Acolor}</li>
                }
                        @if (@ViewBag.MakeId != "x")
                {
                    <li><i aria-hidden="true"></i>{@item.CarMake.MkDesc}</li>
                }
                        @if (@ViewBag.ModlId != "x")
                {
                    <li><i aria-hidden="true"></i>@item.CarModel.MdDesc  </li>
                }
                        @if (@ViewBag.Transmission != "x")
                {
                    <li><i aria-hidden="true"></i>@ViewBag.Transmission  </li>
                }
                        @if (@ViewBag.AuYear != "0")
                {
                    <li><i aria-hidden="true"></i>@ViewBag.AuYear  </li>
                }
                        @if (@ViewBag.Cosumption != "0")
                {
                    <li><i aria-hidden="true"></i>@ViewBag.Cosumption  </li>
                }
                        @if (@ViewBag.from != "0")
                {
                    <li><i aria-hidden="true"></i>Price from: @ViewBag.from  </li>
                }
                        @if (@ViewBag.to != "0")
                {
                    <li><i aria-hidden="true"></i>Price to:@ViewBag.to  </li>
                }
                        @if (@ViewBag.Volume != "0")
                {
                    <li><i aria-hidden="true"></i>@ViewBag.Volume  </li>
                }
                        @if (@ViewBag.Powerfrom != "0")
                {
                    <li><i aria-hidden="true"></i>Power from: @ViewBag.Powerfrom  </li>
                }
                        @if (@ViewBag.Powerto != "0")
                {
                    <li><i aria-hidden="true"></i>Power to: @ViewBag.Powerto  </li>
                }
                        @if (@ViewBag.fromMil != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage from: @ViewBag.FromMil  </li>
                }
                        @if (@ViewBag.toMil != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.ToMil  </li>
                }
                        @if (@ViewBag.SellPri != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.SellPri  </li>
                }
                        @if (@ViewBag.SellPri != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.SellPri  </li>
                }
                        @if (@ViewBag.Engine != "x")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.Engine  </li>
                }
                        @if (@ViewBag.Seater != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.Seater  </li>
                }
                        @if (@ViewBag.NoOfDoors != "0")
                {
                    <li><i aria-hidden="true"></i>Mileage to: @ViewBag.NoOfDoors  </li>
                }
                        @if (@ViewBag.YearFrom != "0")
                {
                    <li><i aria-hidden="true"></i>Year from: @ViewBag.FromYear  </li>
                }
                        @if (@ViewBag.YearTo != "0")
                {
                    <li><i aria-hidden="true"></i>Year to: @ViewBag.ToYear  </li>
                }
              </ul>
                    break;
           
                } @* forloop *@
                @*</div>*@

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-list-3">
                        <div class="featured-car-list">
                            <div class="featured-car-img">
                                @*<a href=""><img src="~assets/images/600x380.jpg" class="img-fluid" alt="Image"></a>*@
                                <a href="~/assets/images/featured-img-01.jpg"><img src="~/assets/images/featured-img-01.jpg" class="img-fluid" alt="Image"></a>
                                <div class="label_icon">New</div>
                            </div>
                            <div class="featured-car-content">
                                @*<h6><a href="#">Car Name</a></h6>*@
                                <div class="price_info">
                                    <p class="featured-price">$@item.SellPri</p>
                                    <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> @item.StatNm, @item.CnName</span></div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>@item.Mileag miles</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.AuYear @item.CarModel.MdDesc</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>@item.FuelType</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>@item.Seater seats</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>@item.Power kW</li>
                                </ul>
                            </div>
                            <input type="submit" value="Choose" id="Choose" class="login_btn" onclick="@Url.Action("Choose", "AutosVehicles")">
                        </div>
                    </div>
                } @* for loop *@
            </div>
            </div>
        } 
    </section>
